click
cartopy
cmcrameri
cmocean
colorama
dask
Deprecated
geopandas
ipython
ipywidgets
jupyter-book
jupyterbook-latex
jupyterlab
jupyternotify
jupytext
markdown
matplotlib
mystmd
nodejs
numpy
pandas
pytest
pytest-cov
python-dotenv
regionmask
scipy
seaborn
ruff
toml
tqdm
xarray
xarrayutils
xeofs
